.header {
    height: 77px;
    background-color: #131415;
    position: relative;
}


.header__logo {

    color: #f89513;
    font-family: "Gora Free";
    font-size: 18px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    margin-left: 21px;
    margin-top: 14px;
    letter-spacing: 1.8px;
    margin-right: -7px;
}
      
.logo-link  {
    text-decoration: none;
}

.header__menu {
    margin-top: 34px;
    margin-left: 0px;
            
      
}

span {
    display: inline-block;
}

.header__menu-list {
    display: flex;
    margin: 0px;
}

.header__menu-item {
    width: 120px;
    height: 30px;
    display: flex;
}

.header__menu-link {
    text-decoration: none;
    font-style: normal;
    display: flex;
}

.header__menu-icon {
    width: 20px;
    height: 20px;
    background-image: url('../image/spritesheet.png');
    background-repeat: no-repeat;
}

.header__menu-item:first-child .header__menu-icon {
    margin-top: 0px;
    margin-left: 0px;
    background-position: -176px -5px;
}
.header__menu-item:nth-child(2) .header__menu-icon {
    margin-top: -3px;
    margin-left: 9px;
    margin-right: 1px;
    background-position: -243px -5px;
}
.header__menu-item:last-child .header__menu-icon {
    margin-top: 0px;
    margin-left: 10px;
    background-position: -100px -5px;
}




.header__menu-name {
    font-size: 12px;
    font-family: "open_sansbold", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -2px;
    margin-left: 17px;
    letter-spacing: 1px;

}

.header__contacts-block {
    margin-right: 20px;
    margin-top: 14px;
    position: relative;
   
}

.header__contacts-block-phone {
    font-family: "open_sansbold";
    font-size: 21px;
    font-style: normal;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-decoration: none;

}

.header__contacts-block-button {
    border: 0px;
    background: transparent;
    margin-left: 51px;
    margin-top: -2px;
    letter-spacing: 0.5px;
    font-family: "open_sansbold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(248, 149, 19, 255);
    text-align: right;
    text-decoration: underline;
    padding: 0px;
    opacity: 0.7;
    transition-duration: 0.6s;
}

.header__contacts-block-button:hover {
    opacity: 1;
}

.dropdown__menu {
    display: none;
}



.dropdown {
    position: absolute;

}

.triangle {
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: white;
    position: absolute;
    left: 139px;
    bottom: 74px;
}

.dropdown__menu-list {
    display: inline-block;
    padding: 0px;
    margin-top: 17px;
    margin-left: 24px;
}

.dropdown__menu {
    width: 163px;
    height: 74px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
    margin-top: 20px;
}

.dropdown__menu:before {
    content: "";
    position: absolute;
    height: 25px;
    display: block;
    left: 0;
    right: 11px;
    top: 13px;
}

.dropdown:hover .dropdown__menu{
    display: block;
}


  


.dropdown__menu-item {
    color: #f89513;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.dropdown__menu-item-ob {
    color: #221f1f;
    font-family: "Open Sans Light", sans-serif;
    font-weight: 400;
}